[Unit]
Description=Globalprotect VPN Router
After=network.target

[Service]
User=root
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/vpn-router-start.sh

[Install]
WantedBy=multi-user.target
